body{
    margin: 30px;
    background-color: #FFFCDC;
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#viewer{
    border: 5px solid black;
    width: 50%;
    height: 350px;
}
.big{
    width: 100%;
    height: 100%;
}
#controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.control{
    margin: 20px;
    cursor: pointer;
}
.thumbnails{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.small{
    width: 15%;
    height: 120px;
    margin: 20px 5px;
    cursor: pointer;
}
.selected{
    border: 3px solid red;
}