body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters {
    margin: 20px 0;
}

button {
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.image {
    margin: 10px;
    overflow: hidden;
    width: 300px;
    height: 200px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}